.message_around {
    padding: 10px;
}

.avatar{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;

}
.avatar img{
    width: 60px;
    height: 60px;
    border: 3px solid dodgerblue;
    border-radius: 50%;

}
.message_name {
    color: #1971c7;
}

.message {
    display: inline-block;
    vertical-align: bottom;
    width: 180px;
    border-right: 3px solid dodgerblue;
    border-top: 2px solid dodgerblue;
    background-color: #78c6fc;
    border-radius: 28px;
    margin: 10px;
    padding: 10px 15px;
    position: relative;
}
.message:before{
    position: absolute;
    content:'';
    left: -8px;
    bottom: 0px;
    border: 16px solid transparent;
    border-bottom: 35px solid #78c6fc;

}



.message_text{
    color: white;
    font-size: 16px;
}

.time {
    color: gray;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
}
